services:
  stack-data-uploader:
    image: ghcr.io/theworldavatar/stack-data-uploader${IMAGE_SUFFIX}:1.56.2-blazegraph-client-SNAPSHOT
    secrets:
      - blazegraph_password
      - postgis_password
      - geoserver_password
    volumes:
      - ./inputs/data:/inputs/data
      - ./inputs/config:/inputs/config
