# Git will decide which files are binary, this is usually correct but can be overridden.
* text=auto

# These files should be force to have Linux line endings
*.sh text eol=lf

*.sql text eol=lf
*.sparql text eol=lf
*.ttl text eol=lf
*.patch text eol=lf

# Windows line endings
*.bat text eol=crlf