services:
  forwardauth:
    image: mesosphere/traefik-forward-auth
    networks:
      - stack
    environment:
      - SECRET=${SIGNING_SECRET}
      - PROVIDER_URI=${PROVIDER_URI}
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET=${CLIENT_SECRET}
      - ENCRYPTION_KEY=${ENCRYPTION_KEY}
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.forwardauth.loadbalancer.server.port=4181"
      - "traefik.http.routers.forwardauth.entrypoints=web"
        # Router for OAuth callback endpoint - middleware will detect and process callback

      - "traefik.http.routers.forwardauth.rule=Path(`/_oauth`)"
      # Middleware definition used by other services
      - "traefik.http.middlewares.traefik-forward-auth.forwardauth.address=http://forwardauth:4181"
      - "traefik.http.middlewares.traefik-forward-auth.forwardauth.authResponseHeaders=X-Forwarded-User"
      - "traefik.http.middlewares.traefik-forward-auth.forwardauth.trustForwardHeader=true"

networks:
  stack:
    name: ${STACK_NAME}
    driver: overlay
    external: true
