# yaml-language-server: $schema=https://json.schemastore.org/traefik-v3.json
api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":${STACK_PORT}"
  websecure:
    address: ":443"
  traefik:
    address: ":8080"

providers:
  swarm:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: "${STACK_NAME}"

log:
  level: INFO
