# yaml-language-server: $schema=https://json.schemastore.org/traefik-v3.json
api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
  traefik:
    address: ":8080"

providers:
  # this one will read labels from containers (podman probably), or services in the case of swarm mode
  docker: # swarm
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: ${STACK_NAME}
  # this one reads the file specified, hot refreshes the config when it changes. More responsive than the containers which needs updating of services / containers to trigger a refresh.
  file:
    filename: "/etc/traefik/dynamic.yml"
    watch: true
log:
  level: INFO
