# Dynamic Traefik configuration for middlewares
# $schema: https://www.schemastore.org/traefik-v3-file-provider.json

http:
  routers:
    services-oauth2-route:
      rule: "PathPrefix(`/oauth2/`)"
      middlewares:
        - auth-headers
      service: oauth-backend

    whoami-public:
      rule: "PathPrefix(`/public`)"
      service: whoami-backend

    whoami-private:
      rule: "PathPrefix(`/protected`)"
      middlewares:
        - oauth-auth-wo-redirect
      service: whoami-backend

    whoami-web:
      rule: "PathPrefix(`/login`)"
      middlewares:
        - oauth-auth-redirect
      service: whoami-backend

  services:
    oauth-backend:
      loadBalancer:
        servers:
          - url: http://oauth2-proxy:4180
    whoami-backend:
      loadBalancer:
        servers:
          - url: http://whoami:80

  middlewares:
    auth-headers:
      headers:
        sslRedirect: false
        stsSeconds: 315360000
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        frameDeny: true
    oauth-auth-redirect:
      forwardAuth:
        address: http://oauth2-proxy:4180/
        trustForwardHeader: true
        authResponseHeaders:
          - X-Auth-Request-Access-Token
          - Authorization
        authRequestHeaders:
          - Cookie
    oauth-auth-wo-redirect:
      forwardAuth:
        address: http://oauth2-proxy:4180/oauth2/auth
        trustForwardHeader: true
        authResponseHeaders:
          - X-Auth-Request-Access-Token
          - Authorization
